# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Other files and directories
datasets/
projetos/
keras-contrib/
pix2pix_r/
dissertacao/dataset/

mestrado.code-workspace
nohup.out
*.log